.tileContainer {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 1rem;
}

.tileTitle {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.tileImage {
  max-height: 250px;
  min-height: 300px;
}

.tileDescription {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.tileTechnologies {
  display: flex;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

.tileTechnology {
  background-color: #121212;
  color: white;
  padding: 1px 10px;
  border-radius: 25px;
  margin-right: 4px;
  margin-top: 4px;
}

@media only screen and (max-width: 768px) {
  .tileContainer {
    width: 22rem;
  }
}
